# eclipse setting files
/.settings
*/.settings
.project
.classpath
maven-eclipse.xml
.springBeans
.mvn
mvnw.cmd
mvnw
# maven target folder

client.log

# idea

/.idea
*/.idea
*.iml
.DS_Store
.idea/*
*/target
/consumer-feign/src/test/java/com/ttyc/consumer/feign/EnableFeignClientsTests.java
